mrsushi-backend-main/ms-stepfunctions/serverless.yml
org: francishuerta
service: mrsushi-ms-stepfunctions

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  httpApi:
    cors: true
  iam:
    role: arn:aws:iam::481849631317:role/LabRole

plugins:
  - serverless-step-functions

stepFunctions:
  stateMachines:
    FlujoPedidoMrSushi:
      name: mrsushi-flujo-pedido
      role: arn:aws:iam::481849631317:role/LabRole
      definition:
        Comment: "Flujo de trabajo de pedidos Mr Sushi"
        StartAt: Cocina
        States:
          Cocina:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: arn:aws:lambda:us-east-1:481849631317:function:mrsushi-ms-flujo-trabajo-dev-guardarTaskToken
              Payload:
                step: COOKING
                taskToken.$: "$$.Task.Token"
                pedidoId.$: "$.pedidoId"
                orderId.$: "$.orderId"
                sedeId.$: "$.sedeId"
                origin.$: "$.origin"
            ResultPath: "$.cocinaResult"
            Next: Despacho
          Despacho:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: arn:aws:lambda:us-east-1:481849631317:function:mrsushi-ms-flujo-trabajo-dev-guardarTaskToken
              Payload:
                step: PACKING
                taskToken.$: "$$.Task.Token"
                pedidoId.$: "$.pedidoId"
                orderId.$: "$.orderId"
                sedeId.$: "$.sedeId"
                origin.$: "$.origin"
            ResultPath: "$.despachoResult"
            Next: DecidirEntrega
          DecidirEntrega:
            Type: Choice
            Choices:
              - Variable: "$.esRecojo"
                BooleanEquals: true
                Next: ListoParaRecoger
            Default: Reparto
          ListoParaRecoger:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: arn:aws:lambda:us-east-1:481849631317:function:mrsushi-ms-flujo-trabajo-dev-guardarTaskToken
              Payload:
                step: READY_FOR_PICKUP
                taskToken.$: "$$.Task.Token"
                pedidoId.$: "$.pedidoId"
                orderId.$: "$.orderId"
                sedeId.$: "$.sedeId"
                origin.$: "$.origin"
            ResultPath: "$.recojoResult"
            Next: Finalizado
          Reparto:
            Type: Task
            Resource: arn:aws:states:::lambda:invoke.waitForTaskToken
            Parameters:
              FunctionName: arn:aws:lambda:us-east-1:481849631317:function:mrsushi-ms-flujo-trabajo-dev-guardarTaskToken
              Payload:
                step: DELIVERING
                taskToken.$: "$$.Task.Token"
                pedidoId.$: "$.pedidoId"
                orderId.$: "$.orderId"
                sedeId.$: "$.sedeId"
                origin.$: "$.origin"
            ResultPath: "$.repartoResult"
            Next: Finalizado
          Finalizado:
            Type: Succeed
